@use '_variables.scss'as v;
@use 'mixins'as m;

html {font-size: calc(1vw / 14.4)}

.header {
    max-width: 1440px;
    background-color: v.$color_white;
    height: 75px;
}

.header__inner {
    display: flex;
    justify-content: start;
    align-items: start;
    @include m.d-flex(space-between, center, nowrap, row);
    padding: 0 5% 0 5%;
    height: 75px;
}

.inner__logo {
    @include m.d-flex(center, center);
    width: 125px;

}

.logo {
    @include m.d-flex(space-between, center, nowrap, row);

}

.logo-vector {
    fill: #C1D585;
    width: 25px;
    height: 25px;

    &:hover {
        fill: v.$color_dark_blue;
        transition-duration: 0.5s;
        }
}

.logo-stratico {
    fill: v.$color_dark_blue;
    padding: 5px 0 0 5px;
    width: 100px;
    height: 25px;

    &:hover {
        fill:#C1D585;;
        transition-duration: 0.5s;
    }
}


.menu {
    @include m.d-flex(space-between, center, nowrap, row);
    width: 585px;
    font-family: Space Grotesk;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

}

.menu__list {
    @include m.d-flex(space-around, center, nowrap, row, 0, 40px);
    width: 400px;
    color: v.$color_dark_blue;
}

.menu__item {}

.menu__link {
    &:hover {
        color:#C1D585;;
        transition-duration: 0.5s;
    }
}

.menu__btn {
    @include m.d-flex(space-between, center, nowrap, row, 0, 10px);
    width: 250px;
}

.menu__btn-white {
    border: 2px solid v.$color_dark_blue;
    border-radius: 30px;
    padding: 15px;
    font-family: Space Grotesk;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 90px;
    height: 44px;
    @include m.d-flex(center, center, nowrap, row);
    background: v.$color_white;
    color: v.$color_dark_blue;
    cursor: pointer;

    &:hover {
    background-color: v.$color_dark_blue;
    color: v.$color_white;
    transition-duration: 0.5s;
    }
}

.menu__btn-blue {
    border: 2px solid v.$color_dark_blue;
    border-radius: 30px;
    padding: 15px;
    font-family: Space Grotesk;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 130px;
    height: 44px;
    @include m.d-flex(center, center, nowrap, row);
    background: v.$color_dark_blue;
    color: v.$color_white;
    cursor: pointer;

    &:hover {
        background-color: v.$color_white;
        color: v.$color_dark_blue;
        transition-duration: 0.5s;
        }
}
